<!DOCTYPE html>
<html>
    <head>
        Formulaire d'ajout d'un événement <br/> <br/>
    </head>
    <body>
        <b>Remplissez le formulaire pour ajouter un événement :</b> <br/>
        <form action="" method="post">
            Titre:  <input type="text" name="titre" value="Choisissez un titre"></input><br/>
            Début (Format:"2015-04-08 00:00:00") : <input type="text" name="debut"></input><br/>
            Fin (Format:"2015-04-08 00:00:00") :  <input type="text" name="fin"></input><br/>
            <input type="submit"/> <br/>
        </form> <br/>
        {% if erreur == 1 %}
            <b>Erreur : Veuillez ré-essayer.</b>
        {% elseif erreur == 2 %}
            <b>Erreur : Pas de titre.</b>
        {% elseif erreur == 3 %}
            <b>Erreur : Pas de date de début.</b>
        {% elseif erreur == 4 %}
            <b>Erreur : Pas de date de fin.</b>
        {% endif %}
    </body>
</html>