#styleCalendrier{
    width: 90%; 
    text-align: center; 
    margin: auto; 
    border-collapse: collapse;
}

td{
    height: 20px;
    width: 14%;
    border: 1px solid;
}

.occupe{
    background-color: #67C262;
    border-top: 0px;
    border-bottom: 0px;
}

#vide{
    border: none;
    width: 10px;
}

.horaires{
    width: 10px;
}

#message_popup{
    text-align: center;
    position: fixed;
    margin: 0% 10% 20% 40%;
    border: 1px solid;
    border-color: black;
    background-color: #E2E3B6;
    padding: 1em;
    cursor: pointer;
}

#formulaire
{
   text-align: center;
   margin: 2% 10% 20% 30%;
   width: 40%;
   position: fixed;
   background-color: white;
   border: 1px solid;
   border-color: black;
   padding: 1em;
}

#formulaireEffacer
{
   text-align: center;
   margin: 2% 10% 20% 30%;
   width: 40%;
   position: fixed;
   background-color: white;
   border: 1px solid;
   border-color: black;
   padding: 1em;
}

.cache
{
    display: none;
}

#formClose
{
    background: url("//calendar.google.com/googlecalendar/images/combined_v46_vr.png") repeat scroll -228px -48px transparent;
    /* CETTE IMAGE EST REPRISE DU CALENDRIER GOOGLE*/
    cursor: pointer;
    height: 13px;
    right: 3px;
    top: 3px;
    width: 13px;
    position: absolute;
}

#formEffClose
{
    background: url("//calendar.google.com/googlecalendar/images/combined_v46_vr.png") repeat scroll -228px -48px transparent;
    /* CETTE IMAGE EST REPRISE DU CALENDRIER GOOGLE*/
    cursor: pointer;
    height: 13px;
    right: 3px;
    top: 3px;
    width: 13px;
    position: absolute;
}

#sem_suiv{
    position: absolute;
    right: 10%;
}

#sem_prec{
    position: absolute;
    left: 10%;
}

#sem_cour{
    position: absolute;
    left: 45%;
}

#titre{
    text-align: center;
    font-size: 20pt;
}

#premiereCase{
    border-top: 1px solid;
}

#derniereCase{
    border-bottom: 1px solid;
}

.formulaireLoginSignup{
    text-align: center;
    margin: 2% 70% 2% 2%;
    border: 1px solid;
}

.titreFormulaire{
    text-decoration:underline;
}

#suppression{
    float: right;
    margin-top:50px;
}

#modification{
    float: left;
    border-right:1px solid;
    padding: 1em;
}