<!DOCTYPE html>
<html>
    <head>
        Formulaire d'enregistrement : <br/>
    </head>
    <body>
        <form action="" method="post">
            Pseudo : <input type="text" name="login" value="Choisissez un pseudo"></input><br/>
            Mot de passe : <input type="password" name="pass"></input><br/>
            <input type="submit"/> <br/>
        </form>
    </body>
</html>